h1{
    text-align:center;
    background: grey;
    color: white;
    font-family: "Arial", "Verdana", "Sans-serif";
    margin:0px;
    height: 70px;
    padding-top:3%;
    
}

table{
    width:100%
}

td{
    text-align: center;
}

th{
    background: grey;
    color:white;
}

tfoot{
    background: grey;
    height:20px;
}

.standardText{
    font-weight: normal;
    font-family: "Arial", "Verdana", "Sans-serif";
}


